#top {
  background: #fff;
}
#center_box {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#center_box header .header_info {
  height: 148px;
  width: 1200px;
  background: #fafafa;
}
#center_box header .header_info .header_left {
  width: 500px;
  height: 148px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  float: left;
}
#center_box header .header_info .header_left img {
  width: 160px;
  height: 104px;
  float: left;
}
#center_box header .header_info .header_left .company_info {
  width: 270px;
  height: 90px;
  float: left;
}
#center_box header .header_info .header_left .company_info h3 {
  font-size: 16px;
  color: #333;
}
#center_box header .header_info .header_left .company_info p {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}
#center_box header .header_info .header_left .company_info p:nth-child(3) {
  color: #787878;
  font-size: 12px;
  margin-top: 10px;
}
#center_box header .header_info .header_left .company_info p:nth-child(3) i {
  width: 8px;
  height: 10px;
  display: block;
  background: url("../images/brand/position.png") no-repeat;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}
#center_box header .header_info .header_left .company_info p:nth-child(3) span {
  float: left;
}
#center_box header .header_info .header_left .company_info p:nth-child(3) span:nth-child(3) {
  margin-left: 30px;
}
#center_box header .header_info .header_right {
  width: 280px;
  height: 148px;
  float: right;
}
#center_box header .header_info .header_right .collection {
  font-size: 14px;
  color: #463914;
  margin-top: 70px;
  float: left;
}
#center_box header .header_info .header_right .collection i {
  width: 23px;
  height: 22px;
  display: block;
  background: url("../images/brand/collection.png") no-repeat;
  float: left;
  margin-right: 5px;
}
#center_box header .header_info .header_right .contrast {
  font-size: 14px;
  color: #463914;
  float: left;
  margin-left: 35px;
  margin-top: 70px;
}
#center_box header .header_info .header_right .contrast i {
  width: 23px;
  height: 22px;
  display: block;
  background: url("../images/brand/contrast.png") no-repeat;
  float: left;
  margin-right: 5px;
}
#center_box nav {
  height: 40px;
  width: 1200px;
}
#center_box nav ul li {
  width: 240px;
  height: 40px;
  float: left;
  background: #f67a33;
  text-align: center;
  box-sizing: border-box;
}
#center_box nav ul li a {
  width: 232px;
  height: 40px;
  display: block;
  color: #fff;
  line-height: 40px;
  margin-left: 3px;
}
#center_box nav ul .tabHover a {
  background: #dc7439;
}
#center_box #content_box {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  box-sizing: border-box;
}
#center_box #content_box .left_box {
  width: 340px;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  box-sizing: border-box;
}
#center_box #content_box .left_box > div {
  float: left;
  margin-top: 30px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  background: #fff;
}
#center_box #content_box .left_box > div h3 {
  width: 313px;
  height: 44px;
  font-size: 16px;
  color: #453914;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 13px;
  box-sizing: border-box;
  border-bottom: 2px solid #ececec;
}
#center_box #content_box .left_box > div h3 i {
  margin-right: 5px;
  margin-top: 5px;
  width: 4px;
  height: 14px;
  background: #f67a33;
  display: block;
  float: left;
}
#center_box #content_box .left_box .top_strength {
  width: 340px;
  height: 318px;
  margin-top: 0px;
}
#center_box #content_box .left_box .top_strength .mesh {
  height: 272px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}
#center_box #content_box .left_box .top_strength .mesh img {
  position: absolute;
  top: 47px;
  left: 65px;
}
#center_box #content_box .left_box .top_strength .mesh span {
  font-size: 12px;
  color: #5e5332;
}
#center_box #content_box .left_box .top_strength .mesh span:nth-child(2) {
  position: absolute;
  top: 28px;
  left: 130px;
}
#center_box #content_box .left_box .top_strength .mesh span:nth-child(3) {
  position: absolute;
  top: 100px;
  left: 12px;
}
#center_box #content_box .left_box .top_strength .mesh span:nth-child(4) {
  position: absolute;
  top: 100px;
  right: 16px;
}
#center_box #content_box .left_box .top_strength .mesh span:nth-child(5) {
  position: absolute;
  bottom: 39px;
  left: 47px;
}
#center_box #content_box .left_box .top_strength .mesh span:nth-child(6) {
  position: absolute;
  bottom: 39px;
  right: 53px;
}
#center_box #content_box .left_box .map {
  width: 340px;
  height: 326px;
}
#center_box #content_box .left_box .map .branches {
  width: 313px;
  height: 280px;
  padding-left: 12px;
  position: relative;
}
#center_box #content_box .left_box .map .branches img {
  position: absolute;
  top: 12px;
  left: 28px;
}
#center_box #content_box .left_box .map .branches .strength {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -32px;
  left: 20px;
}
#center_box #content_box .left_box .map .branches a {
  width: 78px;
  height: 28px;
  display: block;
  color: #8a572a;
  font-size: 14px;
  border: 1px solid #a0785a;
  border-radius: 3px;
  text-align: center;
  line-height: 28px;
  position: absolute;
  bottom: 17px;
  left: 118px;
}
#center_box #content_box .left_box .contact {
  width: 340px;
  height: auto;
  overflow: hidden;
}
#center_box #content_box .left_box .contact .information {
  width: 313px;
  height: 125px;
  margin-left: 12px;
  margin-bottom: 15px;
}
#center_box #content_box .left_box .contact .information p {
  color: #463914;
  margin-top: 15px;
}
#center_box #content_box .left_box .contact .information p:first-child {
  margin-top: 20px;
}
#center_box #content_box .left_box .contact .information p span {
  font-size: 12px;
}
#center_box #content_box .left_box .report {
  width: 340px;
  height: auto;
  overflow: hidden;
}
#center_box #content_box .left_box .report .details {
  width: 313px;
  height: 154px;
  margin-left: 12px;
  position: relative;
}
#center_box #content_box .left_box .report .details img {
  position: absolute;
  top: 23px;
  left: 129px;
}
#center_box #content_box .left_box .report .details a {
  width: 126px;
  height: 28px;
  display: block;
  color: #8a572a;
  font-size: 14px;
  border: 1px solid #a0785a;
  border-radius: 3px;
  text-align: center;
  line-height: 28px;
  position: absolute;
  bottom: 17px;
  left: 93px;
}
#center_box #content_box .left_box .report .details a i {
  width: 19px;
  height: 19px;
  display: block;
  background: url("../images/brand/download.png") no-repeat;
  float: left;
  margin-top: 5px;
  margin-left: 8px;
}
#center_box #content_box .right_box {
  width: 800px;
  height: 1142px;
  float: left;
  margin-left: 20px;
  display: none;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 320px;
}
#center_box #content_box .right_box .title h3 {
  width: 757px;
  height: 41px;
  font-size: 16px;
  color: #453914;
  margin-left: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #ececec;
  position: relative;
  line-height: 41px;
}
#center_box #content_box .right_box .title h3 i {
  width: 4px;
  height: 14px;
  background: #f67a33;
  display: block;
  position: absolute;
  top: 13px;
  left: 0px;
}
#center_box #content_box .right_box .title h3 span {
  margin-left: 9px;
}
#center_box #content_box .right_box .enterprise_info .p_img {
  width: 800px;
  height: 406px;
}
#center_box #content_box .right_box .enterprise_info .p_img img {
  width: 100%;
  height: 100%;
}
#center_box #content_box .right_box .enterprise_info .list_content {
  width: 800px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #f2f2f2;
  padding-bottom: 38px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info {
  width: 757px;
  height: 647px;
  margin-left: 20px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li {
  float: left;
  width: 372px;
  margin-top: 14px;
  line-height: 18px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .title {
  width: 64px;
  height: 27px;
  display: block;
  color: #584d2b;
  font-size: 12px;
  float: left;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content {
  width: 277px;
  height: auto;
  overflow: hidden;
  font-size: 12px;
  color: #9a6d45;
  float: left;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs {
  width: 180px;
  height: 145px;
  float: left;
  margin-bottom: 15px;
  margin-right: 128px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs span {
  width: 180px;
  height: 118px;
  border: 1px solid #d7d7d7;
  float: left;
  text-align: center;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs span:nth-child(2) {
  border: none;
  height: 26px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs:nth-child(1) span {
  box-sizing: border-box;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs:nth-child(1) span:nth-child(2) {
  padding-top: 12px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs:nth-child(2) span {
  box-sizing: border-box;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs:nth-child(2) span:nth-child(2) {
  padding-top: 12px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs:nth-child(n+3) span {
  padding-top: 24px;
  box-sizing: border-box;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content .p_imgs:nth-child(n+3) span:nth-child(2) {
  padding-top: 12px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li .content a {
  color: #9a6d45;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li:nth-child(1) {
  margin-top: 22px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info li:nth-child(2) {
  margin-top: 22px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info .details {
  width: 750px;
}
#center_box #content_box .right_box .enterprise_info .list_content .basic_info .details .details_info {
  width: 685px;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer {
  width: 757px;
  height: 89px;
  margin-left: 20px;
  position: relative;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer .btnL {
  width: 32px;
  height: 53px;
  position: absolute;
  top: 16px;
  left: 0px;
  background: url("../images/brand/left.png") no-repeat 8px 14px;
  border: none;
  z-index: 99;
  display: block;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer .btnR {
  width: 32px;
  height: 53px;
  position: absolute;
  top: 16px;
  right: 0px;
  background: url("../images/brand/right.png") no-repeat 8px 14px;
  border: none;
  display: block;
  z-index: 99;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer .lb_ul {
  width: 3881px;
  height: 53px;
  position: absolute;
  top: 16px;
  left: 0px;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer .lb_ul li {
  width: 757px;
  height: 57px;
  float: left;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer .lb_ul li:first-child {
  margin-left: 32px;
}
#center_box #content_box .right_box .enterprise_info .list_content .developer .lb_ul li a {
  float: left;
  margin-right: 22px;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic {
  width: 757px;
  height: 352px;
  margin-left: 20px;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic li {
  width: 718px;
  height: 92px;
  padding-left: 28px;
  padding-top: 15px;
  border-bottom: 1px dashed #ececec;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic li:last-child {
  border-bottom: none;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic li h3 {
  font-size: 16px;
  color: #453913;
  margin-bottom: 15px;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic li h3 i {
  width: 8px;
  height: 8px;
  display: block;
  background: #453913;
  border-radius: 8px;
  float: left;
  margin-right: 5px;
  margin-top: 8px;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic li h3 data {
  float: right;
}
#center_box #content_box .right_box .enterprise_info .list_content .dynamic li p {
  margin-left: 8px;
  line-height: 18px;
  font-size: 14px;
  color: #6f5c26;
}
#center_box #content_box .right_box .enterprise_info .list_content .certificate {
  width: 757px;
  min-height: 605px;
  margin-left: 20px;
}
#center_box #content_box .right_box .enterprise_info .list_content .certificate li {
  width: 171px;
  height: 220px;
  float: left;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
#center_box #content_box .right_box .enterprise_info .list_content .certificate li:first-child {
  border-left: 1px solid #d7d7d7;
}
#center_box #content_box .right_box .enterprise_info .list_content .certificate li img {
  width: 102px;
  height: 146px;
  margin-top: 20px;
  margin-left: 31px;
}
#center_box #content_box .right_box .enterprise_info .list_content .certificate li p {
  font-size: 12px;
  color: #6f5c26;
  text-align: center;
}
#center_box #content_box .right_box .history_project .list_content {
  width: 755px;
  height: 990px;
  margin-top: 19px;
  margin-left: 20px;
}
#center_box #content_box .right_box .history_project .list_content li {
  width: 752px;
  height: 150px;
  border-bottom: 1px dashed #d8d8d8;
  box-sizing: border-box;
  margin-bottom: 18px;
}
#center_box #content_box .right_box .history_project .list_content li:last-child {
  border-bottom: none;
}
#center_box #content_box .right_box .history_project .list_content li .p_img {
  width: 213px;
  height: 131px;
  float: left;
}
#center_box #content_box .right_box .history_project .list_content li .p_img img {
  width: 100%;
  height: 100%;
}
#center_box #content_box .right_box .history_project .list_content li .p_content {
  width: 539px;
  height: 131px;
  float: left;
  padding-left: 20px;
  margin-top: 18px;
  box-sizing: border-box;
}
#center_box #content_box .right_box .history_project .list_content li .p_content h3 {
  font-size: 16px;
  color: #453914;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .left {
  width: 254px;
  height: auto;
  overflow: hidden;
  float: left;
  color: #756330;
  font-size: 12px;
  margin-top: 9px;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .left p {
  line-height: 24px;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .line {
  width: 1px;
  height: 52px;
  background: #f3eee0;
  float: left;
  margin-top: 24px;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .right {
  width: 264px;
  height: auto;
  overflow: hidden;
  float: left;
  margin-top: 9px;
  color: #756330;
  font-size: 12px;
  padding-left: 14px;
  box-sizing: border-box;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .right .title {
  margin-left: 64px;
  line-height: 27px;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .right .num {
  margin-left: 32px;
  line-height: 27px;
}
#center_box #content_box .right_box .history_project .list_content li .p_content .right .num em {
  font-style: normal;
  margin-left: 6px;
}
#center_box #content_box .right_box .history_project .pages {
  float: right;
  margin-right: 12px;
  line-height: 30px;
  margin-top: 25px;
}
#center_box #content_box .right_box .history_project .pages span {
  font-size: 12px;
  color: #f67624;
  float: left;
  margin-right: 50px;
}
#center_box #content_box .right_box .history_project .pages .page_ul {
  width: 439px;
  height: 30px;
  background: orange;
  float: left;
}
#center_box #content_box .right_box .product_info .list_sort {
  width: 758px;
  height: 28px;
  margin-left: 28px;
  margin-top: 8px;
  margin-bottom: 34px;
}
#center_box #content_box .right_box .product_info .list_sort span {
  font-size: 16px;
  color: #453913;
  float: left;
}
#center_box #content_box .right_box .product_info .list_sort a {
  width: 54px;
  height: 28px;
  display: block;
  float: left;
  text-align: center;
  line-height: 28px;
  border: 1px solid #f67933;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin-left: 20px;
  font-size: 14px;
  color: #f67933;
}
#center_box #content_box .right_box .product_info .list_sort a:nth-child(2) {
  margin-left: 14px;
}
#center_box #content_box .right_box .product_info .list_sort .curr {
  color: #fff;
  background: #f67933;
}
#center_box #content_box .right_box .product_info .list_content {
  width: 804px;
  height: 712px;
  margin-left: 36px;
}
#center_box #content_box .right_box .product_info .list_content li {
  width: 214px;
  height: 205px;
  float: left;
  margin-right: 54px;
  margin-bottom: 29px;
}
#center_box #content_box .right_box .product_info .list_content li .p_img {
  width: 214px;
  height: 160px;
}
#center_box #content_box .right_box .product_info .list_content li .p_img a img {
  width: 214px;
  height: 160px;
}
#center_box #content_box .right_box .product_info .list_content li .p_name {
  width: 214px;
  text-align: center;
}
#center_box #content_box .right_box .product_info .list_content li .p_name a {
  font-size: 14px;
  color: #453913;
}
#center_box #content_box .right_box .product_info .list_content li .p_price {
  text-align: center;
}
#center_box #content_box .right_box .product_info .list_content li .p_price strong {
  font-size: 12px;
  color: #8a572a;
  font-weight: 400;
}
#center_box #content_box .right_box .product_info .list_content li .p_price strong em {
  font-style: normal;
}
#center_box #content_box .right_box .product_info .list_content li .p_price strong i {
  margin-left: 8px;
  font-style: normal;
}
#center_box #content_box .right_box .product_info .pages {
  float: right;
  margin-right: 12px;
  line-height: 30px;
}
#center_box #content_box .right_box .product_info .pages span {
  font-size: 12px;
  color: #f67624;
  float: left;
  margin-right: 50px;
}
#center_box #content_box .right_box .product_info .pages .page_ul {
  width: 439px;
  height: 30px;
  background: orange;
  float: left;
}
#center_box #content_box .right_box .service_network {
  width: 803px;
  height: 1080px;
  background: #fff;
}
#center_box #content_box .right_box .service_network .s_map {
  width: 610px;
  height: 520px;
  margin-left: 90px;
  margin-top: 40px;
  margin-right: 110px;
}
#center_box #content_box .right_box .service_network .s_map img {
  width: 100%;
  height: 100%;
}
#center_box #content_box .right_box .brand_compare .list_sort {
  width: 758px;
  height: 28px;
  margin-top: 8px;
}
#center_box #content_box .right_box .brand_compare .list_sort span {
  font-size: 16px;
  color: #453913;
  float: left;
}
#center_box #content_box .right_box .brand_compare .list_sort a {
  width: 80px;
  height: 28px;
  display: block;
  float: left;
  text-align: center;
  line-height: 28px;
  border: 1px solid #f67933;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin-left: 20px;
  font-size: 14px;
  color: #f67933;
}
#center_box #content_box .right_box .brand_compare .list_sort a:nth-child(2) {
  margin-left: 14px;
}
#center_box #content_box .right_box .brand_compare .list_sort .curr {
  color: #fff;
  background: #f67933;
}
#center_box #content_box .right_box .brand_compare .list_content {
  width: 767px;
  height: 780px;
  margin-left: 20px;
}
#center_box #content_box .right_box .brand_compare .list_content li {
  width: 757px;
  height: 78px;
  border-bottom: 1px solid #dedede;
  padding-top: 20px;
  padding-bottom: 12px;
  box-sizing: border-box;
}
#center_box #content_box .right_box .brand_compare .list_content li:first-child {
  padding-top: 20px;
}
#center_box #content_box .right_box .brand_compare .list_content li .p_img {
  float: left;
}
#center_box #content_box .right_box .brand_compare .list_content li .p_img .thumb_up {
  width: 35px;
  height: 45px;
  display: block;
  background: url("../images/brand/Thumb_up.png") no-repeat;
}
#center_box #content_box .right_box .brand_compare .list_content li .p_img .unPraise {
  width: 35px;
  height: 45px;
  display: block;
  background: url("../images/brand/unPraise.png") no-repeat;
}
#center_box #content_box .right_box .brand_compare .list_content li .p_data {
  width: auto;
  height: 45px;
  float: left;
  color: #463814;
  font-size: 16px;
}
#center_box #content_box .right_box .brand_compare .list_content li .p_data .content {
  color: #8b5729;
  font-size: 16px;
  padding-top: 8px;
}
#center_box #content_box .right_box .brand_compare .pages {
  float: right;
  margin-right: 12px;
  line-height: 30px;
  margin-top: 50px;
}
#center_box #content_box .right_box .brand_compare .pages span {
  font-size: 12px;
  color: #f67624;
  float: left;
  margin-right: 50px;
}
#center_box #content_box .right_box .brand_compare .pages .page_ul {
  width: 439px;
  height: 30px;
  background: orange;
  float: left;
}
#center_box #content_box .right_one {
  margin-bottom: 0px;
}
