* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ol,
li {
  list-style: none;
}
body {
  font-family: "微软雅黑", "宋体";
  color: #666;
  background-color: #FFFFFF;
}
#list {
  box-sizing: border-box;
}
#list content {
  width: 1160px;
  height: auto;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
#list content #left {
  width: 756px;
  height: auto;
  overflow: hidden;
  float: left;
  margin-bottom: 50px;
}
#list content #left .left_ul {
  width: 850px;
  height: auto;
  overflow: hidden;
  float: left;
}
#list content #left .left_ul .thum_img {
  width: 194px;
  height: 136px;
  float: left;
  border: 1px solid #dddddd;
  padding: 7px 6px;
  box-sizing: border-box;
}
#list content #left .left_ul .thum_img a {
  width: 180px;
  height: 120px;
  background: url("../images/project/The-picture-1.png");
  background-size: cover;
  display: block;
}
#list content #left .left_ul .cont {
  width: 454px;
  height: auto;
  overflow: hidden;
  float: left;
  margin-left: 21px;
  box-sizing: border-box;
}
#list content #left .left_ul .cont .title {
  width: 454px;
  height: 34px;
  display: block;
  float: left;
  margin-top: 14px;
}
#list content #left .left_ul .cont .title i {
  width: 23px;
  height: 26px;
  display: block;
  background: url("../images/project/optimal.png") no-repeat 0px 0px;
  background-size: 23px 26px;
  float: left;
  margin-left: 12px;
  vertical-align: top;
}
#list content #left .left_ul .cont .con {
  width: 100%;
  height: auto;
  float: left;
}
#list content #left .left_ul .cont .con span {
  font-size: 14px;
  color: #6e5b27;
  line-height: 20px;
}
#list content #left .left_ul .cont .con span:nth-child(2) {
  margin-left: 34px;
}
#list content #left .left_ul .cont .con span:nth-child(3) {
  margin-left: 29px;
}
#list content #left .left_ul .cont .con span:nth-child(4) {
  margin-left: 0px;
}
#list content #left .left_ul .cont .con span:nth-child(5) {
  margin-left: 23px;
}
#list content #left .left_ul .cont h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #453914;
  float: left;
  line-height: 30px;
  box-sizing: border-box;
}
#list content #left .left_ul li {
  width: 770px;
  height: 155px;
  border-bottom: 2px solid #ecebe7;
  margin-top: 11px;
}
#list content #left .left_ul li:last-child {
  margin-bottom: 0px;
}
#list content #left .pages {
  width: 580px;
  height: 73px;
  float: right;
  line-height: 30px;
}
#list content #left .pages span {
  width: 140px;
  font-size: 12px;
  color: #f67624;
  margin-top: 53px;
  float: left;
}
#list content #left .pages .page_ul {
  width: 439px;
  height: 30px;
  background: orange;
  float: right;
  margin-top: 53px;
}
#list content #right {
  width: 254px;
  height: auto;
  overflow: hidden;
  float: right;
  margin-top: 25px;
  border: 1px solid #d7d4cd;
  box-sizing: border-box;
  background: #faf9f7;
}
#list content #right .hot {
  width: 225px;
  height: auto;
  overflow: hidden;
  margin-left: 12px;
}
#list content #right .hot h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 35px;
  text-align: center;
  font-size: 14px;
  color: #463914;
  line-height: 35px;
  border-bottom: 1px solid #797979;
}
#list content #right .hot li {
  font-size: 12px;
  display: block;
  margin-top: 12px;
  color: #6F5C27;
  list-style-type: disc;
  margin-left: 10px;
  padding-left: 8px;
  background: url("../images/project/li.png") no-repeat 0px 5px;
  background-size: 8px;
}
#list content #right .hot li:last-child {
  margin-bottom: 45px;
}
